@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0 2rem 2rem 1.5rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap {
  gap: 0.5rem;
}

.bg-gap {
  gap: 1rem;
}

h1,
h2 {
  font-weight: 400;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  border: none;
  border-bottom: 1px solid #f1eeee;
}

.d-none {
  display: none;
}

[class^="btn"] {
  padding: 0.6rem;
  border: none;
  /* background-color: #fff; */
  font-weight: 600;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  align-items: center;
}

[class^="btn"]:hover,
:focus {
  opacity: 0.9;
  transform: scale(0.98);
}

.btn--primary {
  background-color: #5e3bbe;
  color: #fff;
}

.btn--secondary {
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(58, 58, 58, 0.15);
}

.header {
  padding-block: 1.5rem;
  border-bottom: 1px solid #f1eeee;
}

.controls-section {
  padding-block: 1.5rem;
}

.task {
  padding: 1rem;
  box-shadow: 0px 0px 14px 0px rgba(66, 68, 90, 0.16);
  border-radius: 0.4rem;
}

.task > input {
  transform: scale(1.5);
}

.task p,
data {
  font-size: 0.85rem;
  color: rgb(58, 58, 58);
  font-weight: 500;
}

.task p {
  width: max-content;
  padding: 0.1rem 0.5rem;
  background-color: rgba(var(--task-color), 0.1);
  color: rgb(var(--task-color));
  border-radius: 2rem;
}

.task p::before {
  content: "";
  display: inline-block;
  background-color: rgb(var(--task-color));
  margin-right: 0.4rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100%;
}

.task .calendar-box {
  display: flex;
  align-items: center;
}

.task .calendar-box img {
  margin-right: 0.4rem;
  width: 1rem;
  height: auto;
}

.add-task {
  align-items: center;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 14px 0px rgba(66, 68, 90, 0.16);
  border-radius: 0.4rem;
}

.add-task label {
  margin-right: 1rem;
}

.add-task input {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  border: none;
  border-bottom: 1px solid #f1eeee;
}

.filters {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 14px 0px rgba(66, 68, 90, 0.16);
  border-radius: 0.4rem;
}

.filters fieldset {
  border: none;
}

.filters input {
  margin-left: 0.25rem;
}

.filters button {
  justify-self: start;
}

.filters select {
  margin-left: 1rem;
}

.context-menu {
  position: absolute;
  box-shadow: 0px 0px 14px 0px rgba(66, 68, 90, 0.16);
  border-radius: 0.4rem;
  background-color: white;
}

.context-menu li {
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.context-menu li:hover {
  background-color: #5e3bbe;
  color: #fff;
}

.context-menu li:hover > svg path {
  fill: #fff;
}

.task--completed {
  opacity: 0.5;
}
